SOUMMISSION_BASE_URL=http://localhost:8004
SOUMMISSION_TIMEOUT_MS=10000
# SOUMMISSION_SERVICE_TOKEN=
# SOUMMISSION_SERVICE_TOKEN_HEADER=x-service-token
AO_BASE_URL=http://localhost:8003
SOUMMISSION_ALLOWED_AO_STATUSES=OUVERTURE_PLIS,EVALUATION,ATTRIBUE,CLOTURE
# SOUMMISSION_ANOMALY_ENDPOINT=
